<div class="app-component--header" (window:resize)="checkIsView($event)">Game Of Life</div>
<div class="app-component--content" *ngIf="isView">
  <div class="app-component--game-buttons">
    <div class="game-buttons">
      <div class="game-buttos--switch-shape-button-wrapper">
        <button class="game-buttos--switch-shape-button" (click)="switchShape()">Switch Shape</button>
      </div>
      <div class="game-buttons--game-step-button-wrapper">
        <button class="game-buttons--game-step-button" (click)="gameStep()">Step Game</button>
      </div>
      <div class="game-buttons--game-run-button-wrapper">
        <button class="game-buttons--game-run-button" (click)="gameRun()">Run Game</button>
      </div>
      <div class="game-buttons--game-stop-button-wrapper">
        <button class="game-buttons--game-stop-button" (click)="gameStop()">Stop Game</button>
      </div>
    </div>
  </div>
  <div class="app-component--sphere" *ngIf="isSphere; else rectangle">
    <game-sphere [aliveCells]="_aliveCells"></game-sphere>
  </div>
  <ng-template #rectangle>
    <div class="app-component--rectangle">
      <game-rectangle [aliveCells]="_aliveCells"></game-rectangle>
    </div>
  </ng-template>
</div>
<div class="app-component--not-pass" *ngIf="!isView">
  <img class="app-component--not-pass-img" src="../assets/you_shall_not_pass.jpg" alt="YOU SHALL NOT PASS">
  <span class="app-component--not-pass-text">Sorry. But your device has a too small screen</span>
</div>
