.app-component--content {
  display: flex;
  flex-direction: column;
}

.app-component--header {
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  background-color: #02796B;
  color: white;
  margin: 0 0 5px 0;
  padding: 0 0 0 10px;
}

.app-component--sphere {
  width: 100%;
}

.app-component--rectangle {
  width: 100%;
}

.game-buttons {
  display: flex;
  flex-direction: row;
}

.game-buttons--game-step-button {
  font-size: 20px;
  text-align: center;
  width: 130px;
  margin: 5px 5px 5px 5px;
  background-color: #02796B;;
  color: white;
  border-radius: 7px;
  line-height: 30px;
}

.game-buttons--game-run-button {
  font-size: 20px;
  text-align: center;
  width: 130px;
  margin: 5px 5px 5px 5px;
  background-color: #02796B;
  color: white;
  border-radius: 7px;
  line-height: 30px;
}

.game-buttons--game-stop-button {
  font-size: 20px;
  text-align: center;
  width: 130px;
  margin: 5px 5px 5px 5px;
  background-color: #02796B;
  color: white;
  border-radius: 7px;
  line-height: 30px;
}

.game-buttos--switch-shape-button {
  font-size: 20px;
  text-align: center;
  width: 180px;
  margin: 5px 5px 5px 5px;
  background-color: #02796B;
  color: white;
  border-radius: 7px;
  line-height: 30px;
}

.app-component--not-pass-img {
  width: 100%;
}

.app-component--not-pass-text {
  font-size: 30px;
}

.app-component--not-pass {
  text-align: center;
}
