<div class="game-sphere--sphere-buttons">
  <div class="game-sphere--run-move-button-wrapper">
    <button class="game-sphere--run-move-button" (click)="runMoveSphere()"> Start Move Sphere</button>
  </div>
  <div class="game-sphere--stop-move-button-wrapper">
    <button class="game-sphere--stop-move-button" (click)="stopMoveSphere()">Stop Move Sphere</button>
  </div>
  <div class="game-sphere--reverse-move-button-wrapper">
    <button class="game-sphere--reverse-move-button" (click)="reverseMoveSphere()">Reverse Move Sphere</button>
  </div>
</div>
<div class="game-sphere--sphere"></div>
