game-sphere {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sphere {
  width: 800px;
  height: 500px;
}

.sphere--sphere {
  stroke: #444;
  fill: white;
  stroke-width: 2;
}

.sphere--sphere-polygons {
  stroke: #444;
  fill: white;
}

.game-sphere--sphere-buttons {
  display: flex;
  flex-direction: row;
}

.game-sphere--run-move-button {
  font-size: 20px;
  text-align: center;
  width: 200px;
  margin: 5px 5px 5px 5px;
  background-color: #02796B;
  color: white;
  border-radius: 7px;
  line-height: 30px;
}

.game-sphere--stop-move-button {
  font-size: 20px;
  text-align: center;
  width: 200px;
  margin: 5px 5px 5px 5px;
  background-color: #02796B;
  color: white;
  border-radius: 7px;
  line-height: 30px;
}

.game-sphere--reverse-move-button {
  font-size: 18px;
  text-align: center;
  width: 200px;
  margin: 5px 5px 5px 5px;
  background-color: #02796B;
  color: white;
  border-radius: 7px;
  line-height: 30px;
}

@media (max-width: 758px) {
  .game-sphere--sphere {
    position: relative;
    left: -150px;
  }
}
