sg--heirach-item-group-3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

sg--heirach-item-group-3--main-item{
    width: 200%;
    display: block;
    flex-grow: 1;
}

sg--heirach-item-group-3--collater-items{
    display: flex;
    flex-direction: column;
    width: 100%;
}

sg--heirach-item-group-3--collater-item{
    height: 50%;
    display: block;    
}