sg--home-item {
    display: block;
    background: url("../image/tm-sigma-00.jpg") no-repeat center center fixed;
    padding: 150px 0;
}

sg--home-item--titel {
    display: block;
    width: 50%;
    margin: 0 0 8px 25%;
    font-size: 40px;
    text-align: center;
}

sg--home-item--text {
    display: block;
    width: 50%;
    margin: 28px 0 16px 25%;
    font-size: 18px;
    color: rgb(85, 85, 85);
    line-height: 36px;
    text-align: center;
}

sg--home-item--buttons {
    display: block;
    width: 50%;
    margin: 0 0 0 25%;
    text-align: center;
}

sg--home-item-button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb;
    font-size: 22px;
    padding: 23px 44px;
    border-radius: 0.25rem;
    color: white;
}

sg--home-item-button.go-to-about-button {
    background-color: #449d44;
    border-color: #419641;
}

sg--home-item-button.go-to-gallary-button {
    background-color: #c9302c;
    border-color: #c12e2a;
}

sg--home-item-button.go-to-gallary-button:hover {
    box-shadow: inset 0px 0px 0px 67px rgb(201, 48, 44);
}

sg--home-item-button.go-to-about-button:hover {
    box-shadow: inset 0px 0px 0px 67px rgb(49, 103, 49);
}