sg--about-card {
    display: block;
    height: 100%;
    text-align: left;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 30px 20px;
    color: rgb(55, 58, 60);
}

sg--about-card--titel {
    display: block;
    font-size: 24px;
}

sg--about-card--text {
    display: block;
    line-height: 28px;
    margin: 28px 0 16px 0;
}

sg--about-card.desing {
    background-color: rgb(228, 232, 232);
}

sg--about-card.coding {
    color: white;
    background-color: rgb(153, 153, 153);
}

sg--about-card.mobile {
    color: white;
    background-color: rgb(102, 102, 102);
}

sg--about-card.left-column {
    background-color: rgb(238, 187, 238);
}

sg--about-card.right-column {
    background-color: rgb(146, 196, 248);
}

sg--about-card.out-team {
    color: white;
    background-color: rgb(170, 85, 34);
}

sg--about-card.history {
    color: white;
    background-color: rgb(34, 136, 187);
}

sg--about-card.management {
    color: white;
    background-color: rgb(68, 153, 102);
}

sg--about-card.career {
    color: white;
    background-color: rgb(164, 164, 48);
}

.left-column-button {
    padding: 12px 20px;
    font-size: 20px;
    line-height: 23px;
    border-radius: 5px;
    background-color: #0275d8;
    border: none;
    color: white;
}

.right-column-button {
    padding: 12px 20px;
    font-size: 20px;
    line-height: 23px;
    border-radius: 5px;
    background-color: rgb(217, 83, 79);
    border: none;
    color: white;
}

.left-column-button:hover {
    background-color: #025aa5;
}

.right-column-button:hover {
    background-color: rgb(201, 48, 44);
}
