sg--contact-item{
    display: block;
    background: url("../image/tm-sigma-00.jpg") no-repeat center center fixed;
    padding: 100px 0 80px 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

sg--contact-item--content{
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
}

sg--contact-item--titel{
    display: block;
    font-size: 28px;
    font-weight: 500;
}

sg--contact-item--text{
    display: block;
    font-size: 18px;
    margin: 28px 0 16px 0;
    color: rgb(85, 85, 85);
    line-height: 28px;
}