sg--item-group-4 {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: flex-start;
 }

sg--item-group-4--item {
    width: 100%;
    display: block;
}


@media (max-width: 970px) {
    sg--item-group-4 {
        flex-direction: column;
    }
}