.sig--header {
    margin: 30px 0;
}

.sig--header--titel {
    font-size: 30px;
}

.sig--header--nav-bar {
    text-align: end;
}

.sig--nav-bar--item {
    color: rgb(215, 215, 215);
    text-decoration: none;
}

.sig--nav-bar--item:hover {
    color: black;
}

.sig--header--description {
    color: rgb(177, 177, 177);
}