sigma--nav-bar{
    display: block;
    margin: 30px 0;
}

sigma--nav-bar--header{
    display: block;
}

sigma--nav-bar--header--text{
    font-size: 30px;
}

sigma--nav-bar--navigate{
    display: block;
    text-align: end;
}

sigma--nav-bar--navigate-navigate-item{
    color: rgb(215,215,215);
}

sigma--nav-bar--navigate-navigate-item:hover{
    color: black;
}

sigma--nav-bar-footer{
    display: block;
}

sigma--nav-bar-footer--text{
    color: rgb(177,177,177);
}